.advantages {
  margin: 0 auto 42px;
  width: 320px;
}

.advantages__wrapper {
  width: 320px;
  padding-bottom: 20px;
  background-color: #f2f2f2;
  margin: 0 auto;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center 426px;
  padding-bottom: 287px;
}

.advantages__text-wrapper {
  margin-bottom: 112px;
}

.advantages__text {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  color: inherit;
  margin: 40px 0 0;
  padding: 0;
}

.advantages__text:last-child {
  margin-top: 26px;
}

.advantages__list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 280px;
  margin: 0 auto;
}

.advantages__item {
  padding: 0;
  margin: 0;
}

.advantages__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  margin: 0 0 17px;
}

.advantages__descriptions {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  width: 280px;
  text-align: center;
  margin-top: -5px;
  margin-bottom: 31px;
}
@media (min-width: 660px) {
  .advantages {
    width: 660px;
    margin: 0 auto;
  }

  .advantages__text {
    font-size: 40px;
    line-height: 45px;
  }

  .advantages__text:first-child {
    margin-bottom: 4px;
    margin-top: 50px;
  }

  .advantages__text:last-child {
    margin-top: 0;
  }

  .advantages__wrapper {
    width: 660px;
    background-color: #f2f2f2;
    background-image: url("../img/iphone-screen-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: 21px 0;
    background-size: 267px 550px;
    padding-bottom: 5px;
    margin-top: -60px;
  }

  .advantages__list {
    margin-left: 330px;
    padding-top: 72px;
    width: 310px;
  }

  .advantages__descriptions,
  .advantages__title {
    text-align: left;
  }

  .advantages__descriptions {
    width: 310px;
    margin-bottom: 35px;
  }
}
@media (min-width: 1200px) {
  .advantages {
    width: 1200px;
    margin: 0 auto;
  }

  .advantages__wrapper {
    min-height: 600px;
    width: 1200px;
    background-image: url("../img/iphone-screen-mobile@1x.png"), url("../img/iphone-screen-mobile@1x.png"), url("../img/iphone-screen-mobile@1x.png");
    background-repeat: no-repeat;
    background-size: 185px 375px;
    background-position: 181px 32px, 510px 32px, 825px 32px;
  }

  .advantages__list {
    width: 940px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding-top: 393px;
  }

  .advantages__title {
    font-size: 30px;
    text-align: center;
    width: 225px;
    margin: 0 auto 35px;
  }

  .advantages__descriptions {
    text-align: center;
    font-size: 18px;
    width: 240px;
  }

  .advantages__text {
    font-size: 50px;
    line-height: 53px;
  }

  .advantages__text-wrapper {
    margin-top: 69px;
  }

  .advantages__text:first-child {
    margin-bottom: 8px;
  }
}