.challenge-form__button {
  display: block;
  width: 280px;
  height: 63px;
  padding: 0;
  margin: 0 auto 40px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 2px;
  color: #ffffff;
  background-color: #2aab6d;
}

.challenge-form__text {
  font-size: 14px;
  line-height: 30px;
  color: inherit;
  text-align: center;
  text-transform: uppercase;
}

.challenge-form__pic {
  color: #d22856;
}