.filter {
  width: 320px;
  margin: 0 auto;
  padding: 0;
  background-color: #f2f2f2;
}

.filter__wrapper {
  color: #ffffff;
  background-color: #283645;
  text-align: center;
  padding-top: 22px;
}

.filter__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.filter__price {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  padding: 0;
  margin: 0;
}

.filter__hit {
  font-size: 14px;
  line-height: 30px;
  font-weight: 300;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.filter__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter__item {
  font-size: 14px;
  line-height: 30px;
  font-weight: 300px;
  color: inherit;
  min-height: 60px;
  padding: 13px 0;
  background-color: #ffffff;
  border: 2px solid #f2f2f2;
}