.page-header {
  color: #ffffff;
  background-color: #283645;
  width: 320px;
  padding: 0;
  margin: 0 auto;
}

.page-header__wrapper {
  position: relative;
  height: 69px;
  border-bottom: 1px solid #000000;
  padding: 22px 20px 0;
}

.page-header__link {
  font-size: 0;
}

.page-header__logo--decktop,
.page-header__logo--tablet {
  display: none;
}

.page-header__logo:hover {
  background-image: url("logo-pink-hover.svg");
}
@media (min-width: 660px) {
  .page-header__wrapper {
    min-height: 110px;
    padding-top: 20px;
  }

  .page-header {
    width: 660px;
  }

  .page-header__logo--mobile {
    display: none;
  }

  .page-header__logo--tablet {
    display: block;
    width: 148px;
    height: 53px;
  }
}
@media (min-width: 1200px) {
  .page-header {
    width: 1200px;
    margin: 0 auto;
  }

  .page-header__container {
    display: flex;
    width: 940px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .page-header__wrapper {
    margin: 0;
    width: 150px;
    border: none;
    padding: 0;
    height: 45px;
    padding-top: 21px;
  }
}