.research {
  display: none;
}
@media (min-width: 660px) {
  .research {
    display: block;
    width: 660px;
    margin: 0 auto 100px;
  }

  .research__wrapper {
    width: 320px;
    margin-left: auto;
  }

  .research__title {
    font-size: 34px;
    font-weight: 700;
    color: inherit;
  }

  .research__text {
    font-size: 18px;
  }

  .research__link {
    line-height: 24px;
    color: #d22856;
  }
}
@media (min-width: 1200px) {
  .research {
    display: block;
    width: 1200px;
    margin: 0 auto;
  }

  .research__wrapper {
    width: 570px;
  }
}