.review {
  width: 320px;
  margin: 0 auto;
  padding-bottom: 74px;
}

.review__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.review__item {
  padding: 0;
  margin: 0;
}

.review__item:nth-child(2),
.review__item:nth-child(3) {
  display: none;
}

.review__text {
  display: none;
}

.review__autor {
  display: block;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  font-style: normal;
  margin-bottom: 13px;
}

.review__comment {
  width: 280px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  text-align: center;
}


@media (min-width: 660px) {
  .review {
    width: 660px;
    margin: 0 auto;
  }

  .review__item {
    display: flex;
    flex-direction: column;
  }

  .review__autor {
    margin-bottom: 2px;
    font-size: 20px;
    line-height: 30px;
  }

  .review__item:nth-child(2),
  .review__item:nth-child(3) {
    display: none;
  }

  .review__text {
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
  }

  .review__comment {
    width: 620px;
    margin-top: 25px;
    margin-bottom: 35px;
    font-size: 18px;
    line-height: 30px;
    order: -1;
  }
}
@media (min-width: 1200px) {
  .review__comment {
    margin-top: 298px;
  }
    .review {
      width: 940px;
      margin: 0 auto;
    }
    .review__comment {
      width: 692px;
      margin: o auto;
    }
    .review__autor {
      font-size: 24px;
    }
    .review__text {
      font-size: 18px;
    }
}
