.user-app {
  width: 320px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 63px;
  border: none;
  background-color: #f2f2f2;
}

.user-app__legend {
  width: 280px;
  font-size: 14px;
  line-height: 18px;
  margin: 0 20px 15px;
  padding: 63px 0 0;
  color: #d22856;
  text-align: center;
  text-transform: uppercase;
}

.user-app__label {
  display: block;
  font-size: 18px;
  line-height: 30px;
  margin: 0 20px;
  padding: 0 0 0 70px;
}
@media (min-width: 660px) {
  .user-app__legend {
    width: 370px;
    padding: 0 20px;
    margin: 0 auto 40px;
  }

  .user-app {
    width: 620px;
    padding-left: 60px;
    background-color: inherit;
    border: 2px solid #e5e5e5;
    margin-top: 50px;
  }

  .research__title-span {
    display: block;
  }
}
@media (min-width: 1200px) {
  .user-app {
    order: -1;
    margin: 0;
  }
}