.user-results {
  width: 280px;
  padding: 0 20px;
  margin: 63px auto 0;
  border: none;
}

.user-results__title {
  width: 240px;
  padding: 0;
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 18px;
  color: #d22856;
  text-align: center;
  text-transform: uppercase;
}

.user-results__label {
  display: block;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 60px;
  padding-left: 70px;
  padding-top: 3px;
  color: #283645;
  width: 280px;
}

.user-results__label:last-of-type {
  margin-bottom: 0;
}

.user-results__wrapper {
  margin-bottom: 19px;
}
@media (min-width: 660px) {
  .user-results {
    width: 620px;
    padding-left: 60px;
    border: 2px solid #e5e5e5;
  }

  .user-results__title {
    width: 450px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 1200px) {
  .user-results {
    width: 940px;
    margin-top: 50px;
  }

  .user-results__wrap {
    display: flex;
    flex-wrap: wrap;
    width: 940px;
  }

  .user-results__wrapper {
    width: 260px;
    margin: 0 auto;
  }
}