.user-results {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
  border: none;
}

.user-results__title {
  width: 240px;
  padding: 0;
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 18px;
  color: #d22856;
  text-align: center;
  text-transform: uppercase;
}

.user-results__label {
  display: block;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 60px;
  padding-left: 60px;
  color: #283645;
  width: 280px;
}

.user-results__label:last-of-type {
  margin-bottom: 0;
}