.user-comments {
  width: 280px;
  padding: 0;
  margin: 38px auto 40px;
  border: none;
}

.user-comments__legend {
  font-size: 14px;
  line-height: 18px;
  padding: 0;
  margin: 0 0 16px;
  text-transform: uppercase;
  color: #d22856;
  text-align: center;
}

.user-comments__textarea {
  width: 100%;
  padding: 15px 20px;
  min-height: 200px;
  font-size: 18px;
  line-height: 30px;
  border: 2px solid #e5e5e5;
  margin: 0 auto;
}

.user-comments__textarea::placeholder {
  padding: 0;
  color: #283645;
}
@media (min-width: 660px) {
  .user-comments {
    order: 5;
    width: 620px;
    padding: 0 58px;
    margin: 68px auto 0;
    border: 2px solid #e5e5e5;
  }

  .user-comments__legend {
    margin: -10px auto 0;
    width: 260px;
    background: #fff;
  }

  .user-comments__textarea {
    display: block;
    width: 100%;
    margin: 38px auto 51px;
    min-height: 192px;
  }
}
@media (min-width: 1200px) {
  .user-comments {
    width: 100%;
    margin-top: 66px;
  }

  .user-comments__textarea {
    display: block;
    width: 820px;
    margin: 35px auto 40px;
    min-height: 130px;
  }
}
